{% extends "base.html" %}

{% block title%}About{% endblock %}

{% block content%}
  <div class='container'>
    <div class='container'>
      <center>
    	   <div class='cursiveSecondary'>Greetings!</div>
      </center>
    	<hr/>
    </div>
    <div class='row'>
      <div class='col-lg-6'>
        <center>
          <img src='https://i.postimg.cc/P52yspft/Taylor-2of47.jpg' border='0' alt='taylor'/>
        </center>
      </div>
      <div class='col-lg-6'>
        <div class='cursiveSecondary'>Greetings!</div>
        <p>I am a student in the Government Analytics graduate studies program at Johns Hopkins University. After growing up in Omaha, Nebraska, I attended the University of Nebraska where I majored in Psychology with minors in Political Science, National Security, and Mathematics. After graduation, I spent some time interning in the U.S. Senate and for National Student Leadership before finding my current job as a software tester for a large healthcare software vendor in Madison, Wisconsin. Upon completing this graduate program, I am looking to enter the national security career field where I will apply my interests in learning to code and using statistics to identify trends in big data. In my free time you will find me reading, exercising, or playing with my labradoodle puppy. </p>
      </div>
    </div>
  </div>
{% endblock %}
