{% extends "base.html" %}

{% block title%}About{% endblock %}

{% block content%}
  <div class='container'>
    <div class='row'>
      <center>
        <div class='column'>
          <div class='cursiveSecondary'>Greetings</div>
          <hr/>
          <p>
          <h3>Here's what I'm doing in my free time...</h3>
            <p class="welcome">Serving as a family mentor for the Lutheran Social Services refugee support program</p>
            <p class="welcome">Learning Dari to better serve the aforementioned population</p>
            <p class="welcome">Volunteering with various literacy groups in the DC area with the Junior League of Washington</p>
            <p class="welcome">Attending Women Who Code algorithms meetups</p>
        </div>
      </center>
      <div class='column'>
        <center>
          <!-- <img src='https://i.postimg.cc/P52yspft/Taylor-2of47.jpg' border='0' alt='taylor'/> -->
          <img src='https://i.postimg.cc/rwpGFnxs/Taylor-5of47.jpg' border='0' alt='taylor'/><br /><br />
        </center>
      </div>
    </div>
  </div>
{% endblock %}
