<!DOCTYPE html>
<html>
<head>
<style>
</style>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href = "static/css/main.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="navbar">
		<div class="container">
        <center>
        <div class="cursiveMain">
					<a href="/">Taylor Thomsen</a></div>
        </center>
			</div>
        <div class="container">
					<center>
							<a class="navItem" href="/">Welcome</a>
              <a class="navItem" href="/resume">Resume</a>
              <a class="navItem" href="/about">About</a>
					</center>
        </div>
			</div>
	</div>

	{% block content %}
	{% endblock %}
	<center>
		<div class="contactList">
			<h3>Contact</h3>
			<a class="contactItem" href="mailto:taylorthomsen@outlook.com?Subject=Hello!" target="_blank">taylorthomsen@outlook.com</a>
			<a class="contactItem" href="https://github.com/taylorthomsen" target="_blank">Github</a>
			<a class="contactItem" href="https://www.linkedin.com/in/taylor-thomsen-7a5257146/" target="_blank">Linked In</a>
	</div>
	<center>
</body>
</html>
