{% extends "base.html" %}

{% block title%}Welcome{% endblock %}

{% block content%}
	<div class="container">
		<div class"row">
			<div class="column">
				<img class="portrait" src='https://i.postimg.cc/RVzxq87W/Taylor-39of47.jpg' border='0' alt='taylor'/>
			</div>
			<div class='column'>
				<center>
					<div class='cursiveSecondary'>Welcome</div>
				</center>
				<hr class="welcome"/>
				<p class='welcome'>I'm Taylor, a D.C. based
					developer, looking to for opportunities to use data and quantitative
					research to solve big problems and inform U.S. policy decision makers.
					While this is my main goal, I also enjoy practicing web development
					and design.
				</p>
				<center>
					<div class='welcome'>
						<h3>Highlights</h3>
						<p>Innovation Lab developer for an international insurance company</p>
						<p>M.S. in Government Analytics from Johns Hopkins
							<br>
							(Using data to identify trends and solve problems)
						</p>
						<p>Based in the D.C. Metropolitan area</p>
						<p>Practiced in web development</p>
					</div>
				</center>
			</div>
		</div>
	</div>
{% endblock %}
