{% extends "base.html" %}

{% block title%}Welcome{% endblock %}

{% block content%}
	<div class="container">
		<div class"row">
			<img class="column" src='https://i.postimg.cc/RVzxq87W/Taylor-39of47.jpg' border='0' alt='taylor'/><br /><br />
			<div class='column'>
				<center>
					<div class='cursiveSecondary'>Welcome</div>
				</center>
				<hr class="welcome"/>
				<p class='welcome'>My resume is attached for you to take a look at.
					I am currently a software developer working with an innovation lab
					for a global insurance company. As Chrissy said, I have been working
					remotely and am looking for a new role in the DC, Arlington, or
					surrounding area. I enjoy my development work, but am looking to have
					an office as home base again. I have been looking at mainly data
					science and software development roles and am open to anything
					related. I recently finished my masters degree in government
					analytics and would love to work for an organization that is working
					on government or policy issues. From what I’ve read, it looks like
					the Hub could be right up my alley. 
				</p>
			</div>
		</div>
	</div>
{% endblock %}
