{% extends "base.html" %}

{% block title%}Resume{% endblock %}

{% block content%}
  <div class="container">
      <center>
          <div class='cursiveSecondary'>Resume</div>
      </center>
      <div class='row'>
        <div class='col-lg-6'>
          <hr />
          <h3>Objective</h3>
            <p>To apply my data analysis skills, school work in quantitative research, and experience with emerging technologies to draw conclusions from data and inform U.S. policy decision makers.</p>

          </div>
          <div class='col-lg-6'>
              <h3>Education</h3>
              <div>
        <ul>
            <li>Johns Hopkins</li>
            <li>University of Nebraska-Lincoln</li>
        </ul>
        </div>
        </div>
        </div>
        <h3>Skills</h3>
          <ul>
            <li>Python and R</li>
            <li>SPSS and Stata</li>
            <li>SQL</li>
            <li>Agile Development Process</li>
            <li>Research Design</li>
            <li>Quantitative Analysis</li>
            <li>Data Visualization</li>
            <li>HTML, CSS, and JavaScript</li>
            <li>Git</li>
          </ul>
      <h3>Work Experience</h3>
        <ul>
          <li>QBE Insurance Digital Innovation Lab</li>
          <li>Epic Systems Corporation</li>
        </ul>
      <h3>Research Experience</h3>
        <ul>
            <li>Johns Hopkins Capstone Project on using sentiment analysis to measure media bias</li>
            <li>Independent research study on the Effect of Democracy on State Terror</li>
            <li>Independent research study on Globalization and Terrorism</li>
        </ul>
  <div>
{% endblock %}
